.nav{
    /* display: flex; */
    /* background:linear-gradient(to left bottom,blue)  */
    padding: 0px;
    color:blue
    /* justify-content:center; */

}
.H1{
    display: flex;
    background-color:red;
    justify-content:center;
}
.body{
   /* background-image: url('image/image.jpg.jpg'); */
    background: dimgrey;
}
.b{
    /* border-radius: 90px; */
    background-color: cornflowerblue;
}
.out{
    border-radius: 90px;
    width: 100px;
}
.collect{
    border-radius: 9px;
    width: 100px;
}
.f1{
    border-radius: 90px;
    width: 100px;
}
.f2{
    border-radius: 90px;
    width: 100px;
    /* border-bottom-right-radius: 50px; */

}
